html {
	font-color: red;
}

#top {
	  background: url(../img/tree.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.portfolio {
	color: #333333;
	background-color: #A7B1BA;
}

.btn {
	background-color: #98A6B5;
}