html {
	font-color: red;
}

#top {
	  background: url(../img/tree.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.vert-text h1 {
	margin-top: -100px;
}

.banner-social-buttons {
	margin-top: 150px;
}

.portfolio {
	color: #333333;
	background-color: #A7B1BA;
}

.btn {
	background-color: #98A6B5;
}

.banner-social-buttons {
	width: 120px;
}

.img-portfolio {
	height: 175px;
}

.profilePic {
	width: 300px;
}

.twitter-timeline {
	height: 310px;
	margin-top: 20px;
}

.timeline {
	text-align: center;
}

#contact {
	margin-top: -150px;
	margin-bottom: 50px;
}

/* MEDIA QUERIES ================================================= */

@media (max-width: 408px) {
	.vert-text h1 {
		margin-top: -155px;
	}