#top {
	  background: url(../img/tree.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.btn {
	background-color: #98A6B5;
}